@model BabyCiao.Models.DTO.NannyResumeDTO

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="NannyAccountUserAccount"></label>
        <input asp-for="NannyAccountUserAccount" />
        <span asp-validation-for="NannyAccountUserAccount"></span>
    </div>
    <div>
        <label asp-for="City"></label>
        <input asp-for="City" />
        <span asp-validation-for="City"></span>
    </div>
    <div>
        <label asp-for="District"></label>
        <input asp-for="District" />
        <span asp-validation-for="District"></span>
    </div>
    <div>
        <label asp-for="Introduction"></label>
        <textarea asp-for="Introduction"></textarea>
        <span asp-validation-for="Introduction"></span>
    </div>
    <div>
        <label asp-for="TypeOfDaycare"></label>
        <input asp-for="TypeOfDaycare" />
        <span asp-validation-for="TypeOfDaycare"></span>
    </div>
    <div>
        <label asp-for="ServiceItems"></label>
        <input asp-for="ServiceItems" />
        <span asp-validation-for="ServiceItems"></span>
    </div>
    <div>
        <label asp-for="QuasiPublicChildcare"></label>
        <input asp-for="QuasiPublicChildcare" />
        <span asp-validation-for="QuasiPublicChildcare"></span>
    </div>
    <div>
        <label asp-for="ChildcareAvailableUnder2"></label>
        <input asp-for="ChildcareAvailableUnder2" />
        <span asp-validation-for="ChildcareAvailableUnder2"></span>
    </div>
    <div>
        <label asp-for="ChildcareAvailableOver2"></label>
        <input asp-for="ChildcareAvailableOver2" />
        <span asp-validation-for="ChildcareAvailableOver2"></span>
    </div>
    <div>
        <label asp-for="Language"></label>
        <input asp-for="Language" />
        <span asp-validation-for="Language"></span>
    </div>
    <div>
        <label asp-for="ServiceCenter"></label>
        <input asp-for="ServiceCenter" />
        <span asp-validation-for="ServiceCenter"></span>
    </div>
    <div>
        <label asp-for="ProfessionalPortrait"></label>
        <input asp-for="ProfessionalPortrait" type="file" />
        <span asp-validation-for="ProfessionalPortrait"></span>
    </div>
    <div>
        <label asp-for="Photos"></label>
        <input asp-for="Photos" type="file" multiple />
        <span asp-validation-for="Photos"></span>
    </div>
    <div>
        <label asp-for="DisplayControl"></label>
        <input asp-for="DisplayControl" />
        <span asp-validation-for="DisplayControl"></span>
    </div>
    <button type="submit">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
