@{
    Layout = "_Layout";
    ViewData["Title"] = "個人資訊";
}

<div id="userInfoApp" class="d-flex">
    <div class="sidebar bg-light p-3">
        <h4 class="text-center">BabyCiao</h4>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">會員資訊</a>
            <a href="#" class="list-group-item list-group-item-action">我的委託單</a>
            <a href="#" class="list-group-item list-group-item-action">電子聯絡簿</a>
            <a href="#" class="list-group-item list-group-item-action">購物車</a>
            <a href="#" class="list-group-item list-group-item-action">歷史訂單</a>
            <a href="#" class="list-group-item list-group-item-action">我的評論</a>
            <a href="#" class="list-group-item list-group-item-action">歷史活動</a>
        </div>
    </div>
    <div class="content container">
        <div class="card mt-4">
            <div class="card-header">
                會員資訊
            </div>
            <div class="card-body">
                <form id="userForm">
                    <div class="form-group row">
                        <label for="userPhoto" class="col-sm-2 col-form-label">照片</label>
                        <div class="col-sm-10">
                            <input type="file" v-on:change="onFileChange" class="form-control" id="userPhoto">
                            <div v-if="form.userPhoto" class="mt-2">
                                <img :src="form.userPhoto" alt="Profile Image" class="profile-img">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userLastName" class="col-sm-2 col-form-label">姓氏</label>
                        <div class="col-sm-10">
                            <input type="text" v-model="form.userLastName" class="form-control" id="userLastName" placeholder="姓氏">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userFirstName" class="col-sm-2 col-form-label">名字</label>
                        <div class="col-sm-10">
                            <input type="text" v-model="form.userFirstName" class="form-control" id="userFirstName" placeholder="名字">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nickname" class="col-sm-2 col-form-label">暱稱</label>
                        <div class="col-sm-10">
                            <input type="text" v-model="form.nickname" class="form-control" id="nickname" placeholder="暱稱">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label">性別</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" v-model="form.gender" id="male" value="1">
                                <label class="form-check-label" for="male">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" v-model="form.gender" id="female" value="2">
                                <label class="form-check-label" for="female">女</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">電子郵件</label>
                        <div class="col-sm-10">
                            <input type="email" v-model="form.email" class="form-control" id="email" placeholder="電子郵件">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-form-label">電話</label>
                        <div class="col-sm-10">
                            <input type="text" v-model="form.phone" class="form-control" id="phone" placeholder="電話">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">地址</label>
                        <div class="col-sm-10">
                            <input type="text" v-model="form.address" class="form-control" id="address" placeholder="地址">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthdate" class="col-sm-2 col-form-label">生日</label>
                        <div class="col-sm-10">
                            <input type="date" v-model="form.birthday" class="form-control" id="babyBirth_user">
                        </div>
                    </div>
                    <button type="button" v-on:click="saveChanges" class="btn btn-primary">儲存變更</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const { createApp } = Vue;

            createApp({
                data() {
                    return {
                        form: {
                            userPhoto: '',
                            userLastName: '',
                            userFirstName: '',
                            nickname: '',
                            gender: '',
                            email: '',
                            phone: '',
                            address: '',
                            birthday: '',
                            userinfoId: '' // 添加用戶ID
                        },
                        token: '',
                        account: '' // 添加賬戶信息
                    }
                },
                created() {
                    this.token = localStorage.getItem('token');
                    this.account = localStorage.getItem('account'); // 從本地存儲獲取賬戶信息
                    if (!this.token) {
                        alert('請先登入');
                        window.location.href = '/login';
                    } else {
                        this.fetchUserInfo();
                    }
                },
                methods: {
                    onFileChange(event) {
                        const file = event.target.files[0];
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            this.form.userPhoto = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    },
                    fetchUserInfo() {
                        axios.get(`https://localhost:7292/api/UserInformation/${this.account}`, {
                            headers: { 'Authorization': `Bearer ${this.token}` }
                        })
                            .then(response => {
                                console.log(response.data); // 調試輸出
                                this.form = {
                                    userPhoto: response.data.userPhoto || '',
                                    userLastName: response.data.userLastName || '',
                                    userFirstName: response.data.userFirstName || '',
                                    nickname: response.data.nickname || '',
                                    gender: response.data.gender || '',
                                    email: response.data.email || '',
                                    phone: response.data.phone || '',
                                    address: response.data.address || '',
                                    birthday: response.data.birthday ? moment(response.data.birthday).format('YYYY-MM-DD') : '', // 確保日期格式正確
                                    userinfoId: response.data.userinfoId || '', // 確保更新時有ID
                                    createddDate: response.data.createddDate || '' 
                                };

                                // 設置性別
                                this.form.gender = response.data.gender == 1 ? 1 : 2;

                                console.log(this.form); // 調試輸出
                            })
                            .catch(error => {
                                console.error(error);
                                alert('無法獲取會員資訊');
                            });
                    },
                    saveChanges() {
                        // 確保日期格式為 YYYY-MM-DD
                        let _this = this;
                        var request = {};
                        
                        request.userinfoId = _this.form.userinfoId;
                        request.accountUser = _this.account;
                        request.userFirstName = _this.form.userFirstName;
                        request.userLastName = _this.form.userLastName;
                        request.userPhoto = _this.form.userPhoto;
                        request.phone = _this.form.phone;
                        request.address = _this.form.address;
                        request.gender = _this.form.gender;
                        request.email = _this.form.email;
                        request.nickname = _this.form.nickname;
                        request.birthday = _this.form.birthday;
                        request.createddDate = _this.form.createddDate;
                        request.modiifiedDate = new Date();

                        axios.put(`https://localhost:7292/api/UserInformation/${this.form.userinfoId}`, request, {
                            headers: { 'Authorization': `Bearer ${this.token}` }
                        })
                            .then(response => {
                                alert('變更已儲存');
                            })
                            .catch(error => {
                                console.error(error);
                                alert('無法儲存變更');
                            });
                    }
                },
                mounted: function () {
                    let _this = this;
                }
            }).mount('#userInfoApp');
        });
    </script>
}
<style>
    .form-group {
        margin-top: 20px;
    }
</style>
