<!DOCTYPE html>
<html>
<head>
    <title>家長委託單</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- breadcrumb start -->
    <div class="px-3 py-2 mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 bg-transparent p-2 text-dark bg-opacity-10">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="./MatchIndex.html">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">保母委託單</li>
            </ol>
        </nav>
        <div class="row" style="width:50%;margin-left:auto;margin-right:0">
            <label class="col-md-4 form-label">篩選關鍵字:</label>
            <input type="text" class="col-md-8 form-control" placeholder="請輸入篩選關鍵字" v-model="filter" v-on:keyup="filterCategories" />
        </div>
    </div>
    <!-- breadcrumb end -->

    <div id="app" class="container">
        <div class="row">
            <div class="col-4 mb-2" v-for="item in resumes" :key="item.id">
                <div class="card">
                    <img :src="getPhotoUrl(item.photo)" class="card-img-top" style="height: 180px;">
                    <div class="card-body">
                        <div class="down-content">
                            <h5>名字：{{ item.firstName }}</h5>
                            <h5>寶寶歲數：{{ item.babyage }}</h5>
                            <h5>地區：{{ item.city }}, {{ item.district }}</h5>
                            <h5>服務方式：{{ item.typeOfDaycare }}</h5>
                            <h5>時段：{{ item.timeSlot }}</h5>
                            <div class="info">
                                <div class="row">
                                    <div class="col-6">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <a class="active nav-link" asp-area="Match" asp-controller="Home" asp-action="Babyinformation" asp-route-Id="Id">
                                            <button class="btn btn-primary">了解更多</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                resumes: []
            },
            methods: {
                fetchResumes: function () {
                    let _this = this;

                    try {
                        axios.get("https://localhost:7292/api/BabyResumes/Fullinformation")
                            .then(response => {
                                _this.resumes = response.data;
                            })
                            .catch(err => alert(err));
                    }
                    catch (error) {
                        console.log(error);
                    }
                },
                getPhotoUrl(Photo) {
                    return Photo != null ? `https://localhost:7000/nannnyandperant/babyreume/${Photo}` : `https://localhost:7000/image/noimage.jpg`;
                }
            },
            mounted: function () {
                this.fetchResumes();
            }
        });
    </script>
</body>
</html>
