<div id="App" class="container mb-4">
    <!-- Breadcrumb -->
    <div class="container d-flex justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">保母平台</li>
                <li class="breadcrumb-item active" aria-current="page">保母申請</li>
            </ol>
        </nav>
    </div>

    <h1 class="text-center mb-3 mt-3 fw-bold">保母申請表</h1>
    <h5 class="modal-title" id="staticBackdropLabel">填寫資料</h5>
    <form id="form" class="needs-validation" v-on:submit.prevent="create" novalidate>
        <div class="modal-body">
            <div class="mb-3 has-validation">
                <label class="form-label">帳號</label>
                <input type="text" class="form-control" id="NannyAccountUserAccount" v-model="NannyAccountUserAccount" required />
            </div>
            <div class="mb-3 has-validation">
                <label class="form-label">服務中心</label>
                <input type="text" class="form-control" id="AddressesOfAgencies" v-model="AddressesOfAgencies" required />
            </div>
            <div class="mb-3 has-validation">
                <label class="form-label">保母證到期日</label>
                <input type="date" class="form-control" id="ValidPeriodsOfCertificates" v-model="ValidPeriodsOfCertificates" required />
            </div>
            <div class="mb-3 has-validation">
                <label class="form-label">保母證照片上傳</label>
                <input type="file" class="form-control" id="ChildCareCertificate" v-on:change="onFileChange">
                <div id="EmergencyContactHelp" class="form-text">請選擇一張照片</div>
                <div class="invalid-feedback">此欄位必填!</div>
            </div>
            <div class="mb-3 has-validation">
                <label class="form-label">良民證上傳</label>
                <input type="file" class="form-control" id="PoliceCriminalRecordCertificate" v-on:change="onFileChange">
                <div id="EmergencyContactHelp" class="form-text">請選擇一張照片</div>
                <div class="invalid-feedback">此欄位必填!</div>
            </div>
            <div class="mb-3 has-validation">
                <label class="form-label">身分證上傳</label>
                <input type="file" class="form-control" id="NationalIdentificationCard" v-on:change="onFileChange">
                <div id="EmergencyContactHelp" class="form-text">請選擇一張照片</div>
                <div class="invalid-feedback">此欄位必填!</div>
            </div>
        </div>
    </form>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary" v-on:click="create">申請</button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var NannyAccountUserAccount = sessionStorage.getItem("NannyAccountUserAccount");
    var Id = 0;

    var vueApp = {
        data() {
            return {
                NannyAccountUserAccount: "",
                AddressesOfAgencies: "",
                ValidPeriodsOfCertificates: "",
                ChildCareCertificate: null,
                PoliceCriminalRecordCertificate: null,
                NationalIdentificationCard: null,
            };
        },
        methods: {
            onFileChange(event) {
                const fileId = event.target.id;
                const file = event.target.files[0];

                if (fileId === "ChildCareCertificate") {
                    this.ChildCareCertificate = file;
                } else if (fileId === "PoliceCriminalRecordCertificate") {
                    this.PoliceCriminalRecordCertificate = file;
                } else if (fileId === "NationalIdentificationCard") {
                    this.NationalIdentificationCard = file;
                }
            },
            create: function (e) {
                e.preventDefault();
                let _this = this;

                // Prepare form data
                let formData = new FormData();
                formData.append("NannyAccountUserAccount", this.NannyAccountUserAccount);
                formData.append("AddressesOfAgencies", this.AddressesOfAgencies);
                formData.append("ValidPeriodsOfCertificates", this.ValidPeriodsOfCertificates);
                formData.append("ChildCareCertificate", this.ChildCareCertificate);
                formData.append("PoliceCriminalRecordCertificate", this.PoliceCriminalRecordCertificate);
                formData.append("NationalIdentificationCard", this.NationalIdentificationCard);

                axios.post(`https://localhost:7292/api/NannyRequirments/apply`, formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                    .then(result => {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "申請成功",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(result => {
                            // Fetch or reload data after success
                            $('#staticBackdrop').modal('hide');
                        });
                    })
                    .catch(err => {
                        alert(err);
                    });
            }
        }
    };
    var app = Vue.createApp(vueApp).mount('#App');
</script>
