<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BabyCiao_Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BabyCiao_Client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@latest"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" id="app">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BabyCiao</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Utility.SD.localHost_Backstage/Home/Index">管理後台</a>
                        </li>
                        <li class="nav-item">
                            <a id="e_book" class="nav-link text-dark" asp-area="andy_ebook" asp-controller="Home" asp-action="Index">電子聯絡簿</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="LilyGArea" asp-controller="Home" asp-action="Index">團購商品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="LilySArea" asp-controller="Home" asp-action="Index">二手商品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Competitions" asp-action="Index">線上投票活動</a>
                        </li>
                    </ul>
                    <div>
                        <div v-if="isLoggedIn">
                            <a :href="'/UserInformation/UserInformation'" class="nav-link">{{ account }}</a> /
                            <a href="#" v-on:click="logout"><i class="fas fa-user"></i>登出</a>
                        </div>
                        <div v-else>
                            <a href="/Login/Login">登入</a> | <a href="/Login/Register">註冊</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - test2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    account: '',
                    isLoggedIn: false
                };
            },
            mounted() {
                this.checkLoginStatus();
            },
            methods: {
                checkLoginStatus() {
                    this.account = localStorage.getItem('account');
                    this.isLoggedIn = !!this.account;
                },
                logout() {
                    localStorage.removeItem('account');
                    localStorage.removeItem('token');
                    this.isLoggedIn = false;
                    window.location.href = '/';
                }
            }
        });

        app.mount('#app');
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
