<ul class="navbar-nav" id="loginApp">
    <template v-if="islogin==true">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">{{u_name}},您好!!! </a>
        </li>
        <li class="nav-item">
            @* <form id="logoutForm" action="/andy_login/logout" method="post" class="nav-item">
                <div type="submit" id="signOut" class="nav-link text-dark">登出</div>
            </form> *@
            <a id="logoutForm" class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" >登出</a>
        </li>
    </template>
    <template v-else>
        <li class="nav-item">
            <a id="username" class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">登入</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Register">註冊</a>
        </li>
    </template>
</ul>

