@model BabyCiao.Models.BabyResume

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BabyResume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccountUserAccount" class="control-label"></label>
                <select asp-for="AccountUserAccount" class="form-control" asp-items="ViewBag.AccountUserAccount"></select>
                <span asp-validation-for="AccountUserAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyDate" class="control-label"></label>
                <input asp-for="ApplyDate" class="form-control" />
                <span asp-validation-for="ApplyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequireDate" class="control-label"></label>
                <input asp-for="RequireDate" class="form-control" />
                <span asp-validation-for="RequireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Babyage" class="control-label"></label>
                <input asp-for="Babyage" class="form-control" />
                <span asp-validation-for="Babyage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfDaycare" class="control-label"></label>
                <input asp-for="TypeOfDaycare" class="form-control" />
                <span asp-validation-for="TypeOfDaycare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlot" class="control-label"></label>
                <input asp-for="TimeSlot" class="form-control" />
                <span asp-validation-for="TimeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Display" /> @Html.DisplayNameFor(model => model.Display)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
