@model andy_registerViewModel




<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h1>註冊一個新帳號</h1>
            <span class="text-danger">@ViewBag.errMSG</span>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="name" class="form-control" autocomplete="username" aria-required="true" placeholder="帳號" />
                <label asp-for="name">帳號</label>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="password" type="password" class="form-control"  aria-required="true" placeholder="password" />
                <label asp-for="password">密碼</label>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="confirmPassword" type="password" class="form-control" aria-required="true" placeholder="密碼" />
                <label asp-for="confirmPassword">密碼確認</label>
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">註冊</button>
        </form>
    </div>
    
</div>
@section Scripts 
{
    <script>

        if (@ViewBag.islogin) {
            alert('註冊成功');
            window.location.href = "/Home/Index";
        }

    </script>
}