<!-- Breadcrumb -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">社群</a></li>
            <li class="breadcrumb-item"><a href="voteIndex.html">線上投票活動</a></li>
            <li class="breadcrumb-item active" aria-current="page">寶貝裝扮大賽</li>
        </ol>
    </nav>
</div>



<div id="app" class="container mb-4">
    <h1 class="text-center mb-3 mt-3 fw-bold">{{CompetitionName}}</h1>
    <!-- 比賽內容介紹 -->
    <div class="col-12 mb-3">
        <h3>比賽內容介紹</h3>
        <p> {{Content}} </p>
        <h3>投票期間</h3>
        <p>{{StartTime}} ~ {{EndTime}}</p>
        <h3>比賽進行狀態</h3>
        <p>{{Statement}}</p>
        <div class="d-flex justify-content-between">
            @* 待處理 *@
            <!-- 靜態互動背景 -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                報名此比賽
            </button>
            <button typeof="button" class="btn btn-outline-dark me-2" type="submit"><i class="bi bi-heart">收藏此活動</i></button>
        </div>
    </div>
    
    <div class="container" id="app">
        <div class="d-flex justify-content-between">    
              <div class="dropdown">
                    排序
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        最新
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">最新</a></li>
                      <li><a class="dropdown-item" href="#">投票數</a></li>
                  </ul>
              </div>
            <div>
                <label for="" class="me-3">參賽者：<span>{{Competitor}}</span></label>
                <label for="" class="me-3">總票數：<span>{{allvote}}</span></label>

                @* 待處理 *@
                @* <label for="" class="me-3">瀏覽人數：<span>675</span></label> *@
            </div>
        </div>

        <!-- 活動列表 -->
        <div class="container">
            <div class="row mb-4">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" v-for="item in Competitionsdetail" :key="item.id">
                        <div class="card h-100">
                            <img v-bind:src="getPhotoUrl(item.competitionPhotos)" class="card-img-top h-100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{item.accountUserAccount}}</h5>
                                <span class="me-3">得票數</span>
                                <span><i class="bi bi-lightning-charge-fill">{{item.number}}</i></span>
                            </div>
                            <button class="btn btn-outline-dark me-2 w-100" type="submit">
                                <i class="bi bi-heart">投票</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 靜態互動背景模板 -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">填寫報名資料</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    @* 待處理--資料還無法傳回 *@
                    <form id="form" class="needs-validation" v-on:submit.prevent="create" novalidate>
                        <div class="modal-body">
                            @* <input type="text" class="form-control" id="IdCompetition" v-model="CompetitionId"> *@
                            <div class="mb-3 has-validation">
                                <label class="form-label">帳號</label>
                                <input type="text" class="form-control" id="userAccount" v-model="CompetitorAccount">
                            </div>
                            <div class="mb-3 has-validation">
                                <label class="form-label">自我介紹(100字內)</label>
                                <textarea type="text" class="form-control" id="Content" rows="3" v-model="CompetitorContent"></textarea>
                            </div>
                            <div class="mb-3 has-validation">
                                <label class="form-label">照片上傳</label>
                                <input type="file" class="form-control" id="CompetitionPhoto" v-on:change="onFileChange">
                                <div id="EmergencyContactHelp" class="form-text">請選擇一張照片</div>
                                <div class="invalid-feedback">
                                    此欄位必填!
                                </div>
                            </div>

                        </div>
                    </form>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">確認報名</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 分頁 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>



<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
        integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var IdCompetitions = sessionStorage.getItem("IdCompetition");
    var CompetitorID = 0;

    //console.log(IdCompetitions)
    var vueApp = {
        data() {
            return {
                CompetitionName:"",
                Content:"",
                StartTime:"",
                EndTime:"",
                Statement:"",
                Competitor:0,
                votenumber:0,
                Competitionsdetail: [],
                RecordDetail:[],
                allvote:0,
                CompetitionId:0,

                //表單
                CompetitorAccount:"",
                CompetitorContent:"",
                CompetitorPhoto:"noimage.jpg",
            };
        },
        methods: {
            fetchcompetitions: function () {
                let _this = this;
                try {
                     axios.get(`https://localhost:7292/api/OnlineCompetitions/${IdCompetitions}`)
                    .then(response => {
                         _this.Competitionsdetail = response.data;
                         _this.CompetitionName = response.data[0].competitionName;
                         _this.Content = response.data[0].content;
                         _this.StartTime = response.data[0].startTime;
                         _this.EndTime = response.data[0].endTime;
                         _this.Statement = response.data[0].statement;
                         _this.Competitor = response.data.length;
                         _this.allvote = response.data[0].allnumber;
                         _this.CompetitionId = response.data[0].Id;
                         CompetitorID = response.data.competitionDetailId;
                    })
                    .catch(error => alert(error))
                }
                catch (error) {
                    console.log(error);
                }
            },
            getPhotoUrl(CompetitionPhotos) {
                return CompetitionPhotos != null ? `https://localhost:7000/uploads/${CompetitionPhotos}` : `https://localhost:7000/image/noimage.jpg`;
            },
            apply:function(){
                let _this = this;
                let forms = document.querySelectorAll('.needs-validation');
                //console.log(form)
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            else 
                            {
                                _this.create(event);
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            },
            create: function (e) {
                e.preventDefault();
                let _this = this;
                var request = new FormData(); //收集表單資訊
                request.Id = IdCompetitions;
                request.AccountUserAccount = _this.CompetitorAccount;
                request.CompetitionPhotos = _this.CompetitorPhoto.name;
                request.Content = _this.CompetitorContent;
                //alert(request);
                axios.post(`https://localhost:7292/api/OnlineCompetitions/apply`, request)
                .then(result => {
                    Swal.fire({
                        position:"center",
                        icon:"success",
                        title:"報名成功",
                        showConfirmButton: false,
                        timer:1500
                    })
                    .then(result => {
                        _this.fetchcompetitions();
                    })
                })
                .catch(err => {
                    alert(err);
                })
            },
            //處理照片上傳
            onFileChange: function (event) {
                this.CompetitorPhoto = event.target.files[0];
            },
        },
        mounted: function () {
            let _this = this;
            _this.fetchcompetitions()
        }
    };
    var app = Vue.createApp(vueApp).mount('#app');
</script>