@section Styles{
    <style>
        .div1 {
            height: 650px;
        }
    </style>
}


<!-- breadcrmb start -->
<div class="bg-light px-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">電子聯絡簿</li>
        </ol>
    </nav>
</div>
<!-- breadcrmb end -->
<!-- list and tabs start -->
<div class="container-fluid py-5">
    <div class="row">
        <!-- list start -->
        <div class="col-12 col-md-3" style="width:260px">
            <div class="list-group">
                <h3 class="fs-3 fw-bold ps-3">功能選單</h3>
                <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_record" class="list-group-item list-group-item-action">最新交接事項</a>
            <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_infos" class="list-group-item list-group-item-action active">寶寶基本資料</a>
            <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_historySearch" class="list-group-item list-group-item-action ">歷史紀錄查詢</a>
                <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_activityDaily" class="list-group-item list-group-item-action">活動日記</a>
            </div>
        </div>
        <!-- list end -->
        <div class="col-12 col-md-9 rounded">
            <!-- tabs start -->
        <div class="div1" style="background-color:#fff4ef ;">
        </div>
            <!-- tabs end -->
        </div>
    </div>
</div>
<!-- list and tabs end -->