@section Styles{
    <style>
        .div1 {
            height: 650px;
        }
    </style>
}



<div class="col-12 col-md-9 rounded">
    <!-- tabs start -->
    <div class="div1" style="background-color:#fff4ef ;">
    </div>
    <!-- tabs end -->
</div>