@section Styles{
    <style>
        
        .timeLines {
            background-color: gray;
            display: flex;
        }

        .timeLine {
            height: 10px;
            width: 25%;
        }

        .MSG_title {
            /* position: absolute; */
            background-Color: pink;
            font-Size: 16px;
            margin-bottom:8px;
        }

        .MSG {
            /* position: absolute; */
            background-Color: pink;
            font-Size: 16px;
            height: 100px;
            z-index: 1;
        }

        #context1 {
            /* position: relative; */
        }
    </style>
}
<!-- breadcrmb start -->
<div class="bg-light px-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">電子聯絡簿</li>
        </ol>
    </nav>
</div>
<!-- breadcrmb end -->
<!-- list and tabs start -->
<div class="container-fluid py-5" id="app_Ebook_record">
    <div class="row">
        <!-- list start -->
        <div class="col-12 col-md-3" style="width:260px">
            <div class="list-group">
            <h3 class="fs-3 fw-bold ps-3">功能選單</h3>
                <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_record" class="list-group-item list-group-item-action active">最新交接事項</a>
                <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_infos" class="list-group-item list-group-item-action">寶寶基本資料</a>
                <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_historySearch" class="list-group-item list-group-item-action">歷史紀錄查詢</a>
                <a href="@Utility.SD.localHost_Client/andy_ebook/Home/book_activityDaily" class="list-group-item list-group-item-action">活動日記</a>
            </div>
        </div>
        <!-- list end -->
        <!-- tabs start -->
        <div class="col-12 col-md-9 rounded">
            <div class="div1 p-2" style="background-color:#fff4ef ;">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-1-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                            aria-selected="true">
                        全部
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2"
                            type="button" role="tab" aria-controls="pills-2" aria-selected="false">
                        飲食
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3"
                            type="button" role="tab" aria-controls="pills-3" aria-selected="false">
                        尿布更換
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-4-tab" data-bs-toggle="pill" data-bs-target="#pills-4"
                            type="button" role="tab" aria-controls="pills-4" aria-selected="false">
                        睡眠
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-5-tab" data-bs-toggle="pill" data-bs-target="#pills-5"
                            type="button" role="tab" aria-controls="pills-5" aria-selected="false">
                        備註
                    </button>
                </li>
            </ul>
            <div class="tab-content px-2 h-75 rounded" id="pills-tabContent">
                <!-- 全部 start -->
                <div class="tab-pane fade show active h-100" id="pills-1" role="tabpanel"
                        aria-labelledby="pills-1-tab">
                    <!-- 條件設定區 start -->
                    <div class="h-25 p-3" style="background-color: #f6dec8;">
                        <div class="form-group">
                            <div class="w-100 d-flex align-items-center mb-2" id="htmlTarget">
                                <label for="" class="col-form-label">▲ 時間：</label>
                                <label for="datepiker01" class="form-label mb-0 mx-1">從</label>
                                <div class="input-group w-25 "  >
                                    <input type="date" class=" form-control" id="datepiker01" autocomplete="off">
                                </div>
                                <label for="datepiker02" class="form-label mb-0 mx-1">到</label>
                                <div class="input-group w-25 ">
                                    <input type="date" class=" form-control" id="datepiker02" autocomplete="off">
                                </div>
                            </div>
                            <div class="w-100 d-flex align-items-center mb-2">
                                <label for="" class="col-form-label">▲ 顯示內容：</label>
                                <div class="form-check me-2">
                                    <input class="form-check-input" type="checkbox" value="" id="chk1" checked>
                                    <label class="form-check-label" for="chk1">
                                        飲食
                                    </label>
                                </div>
                                <div class="form-check me-2">
                                    <input class="form-check-input" type="checkbox" value="" id="chk2" checked>
                                    <label class="form-check-label" for="chk2">
                                        尿布更換
                                    </label>
                                </div>
                                <div class="form-check me-2">
                                    <input class="form-check-input" type="checkbox" value="" id="chk3" checked>
                                    <label class="form-check-label" for="chk3">
                                        睡眠
                                    </label>
                                </div>
                                <div class="form-check me-2">
                                    <input class="form-check-input" type="checkbox" value="" id="chk4" checked>
                                    <label class="form-check-label" for="chk4">
                                        備註
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 條件設定區 end -->
                    <!-- 互動式時間軸 start -->
                    <div class="container-fluid my-3">
                        <div class="row">
                            <div class="col-1" id="timeLine1">
                                <div class="timeLines">

                                    <div class="timeLine" data-bs-toggle="popover" title="Popover title"
                                            data-bs-content="And here's some amazing content. It's very engaging. Right?">
                                    </div>
                                    <div class="timeLine" id="test01"></div>
                                    <div class="timeLine"></div>
                                    <div class="timeLine"></div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 " id="context1">

                                            @* <div class="MSG" id="time_0_text">
                                                測試
                                            </div> *@
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-1 " id="timeLine2">
                                <div class="timeLines">

                                    <div class="timeLine"></div>
                                    <div class="timeLine"></div>
                                    <div class="timeLine"></div>
                                    <div class="timeLine"></div>
                                </div>
                            </div>
                            <div class="col-5" id="context2"></div>

                        </div>

                    </div>
                    <!-- 互動式時間軸 end -->
                </div>
                <!-- 全部 end -->
                <!-- 飲食 start -->
                <div class="tab-pane fade h-100" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                    <div class=" p-3" style="background-color: #f6dec8;">
                        <div class="form-group mb-2 ">
                            <div class=" d-flex">
                                    <label for="datetimepicker01" class="col-form-label">▲ 時間：</label>
                                <div class="input-group " style="width:300px" 
                                        data-td-target-input="nearest" data-td-target-toggle="nearest">
                                        <input type="datetime-local" class="form-control" id="datetimepicker01" >
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-flex align-items-center mb-2 ">
                            <label for="" class="col-form-label">▲ 飲食類別：</label>
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" name="radio_food" id="radio1"
                                        value="喝奶">
                                <label class="form-check-label" for="radio1">
                                    喝奶
                                </label>
                            </div>
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" name="radio_food" id="radio2"
                                        value="食物">
                                <label class="form-check-label" for="radio2">
                                    食物
                                </label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">飲食狀況</span>
                            <input type="text" class="form-control" placeholder="剩餘奶量or挑食等狀況記錄"
                                    aria-label="Username" aria-describedby="basic-addon1" id="text1">
                        </div>
                        <button type="button" class="btn btn-success" id="btn1" v-on:click="">新增</button>
                    </div>

                    <div class="w-50" id="div_food">
                        <div class="container rounded m-3" style="background-color: pink;">
                            <div class="row ">
                                <!-- <div class="col-10 my-2">
                                    <h5 class="fw-bolder">6月19日 3點58分</h5>
                                    <p class="ms-5 mb-0">飲食類別: 喝奶</p>
                                    <p class="ms-5 mb-0">飲食狀況: 120cc</p>
                                </div>
                                <div class="col-2 d-flex flex-column text-center justify-content-around">
                                    <button class="btn btn-primary">編輯</button>
                                    <button class="btn btn-primary">刪除</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 飲食 end -->
                <!-- 尿布更換 start -->
                <div class="tab-pane fade h-100" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                    <div class="p-3 " style="background-color: #f6dec8;">
                        <div class="form-group mb-2">
                            <div class=" d-flex">
                                <label for="datetimepicker02" class="col-form-label">▲ 時間：</label>
                                <div class="input-group " style="width:300px"
                                        data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input type="datetime-local" class="form-control" id="datetimepicker02">
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-flex align-items-center mb-2">
                            <label for="" class="col-form-label">▲ 內容物：</label>
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" name="radio_pu" id="radio3">
                                <label class="form-check-label" for="radio3">
                                    乾爽
                                </label>
                            </div>
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" name="radio_pu" id="radio4">
                                <label class="form-check-label" for="radio4">
                                    噓噓
                                </label>
                            </div>
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" name="radio_pu" id="radio5">
                                <label class="form-check-label" for="radio5">
                                    便便
                                </label>
                            </div>
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" name="radio_pu" id="radio6">
                                <label class="form-check-label" for="radio6">
                                    噓噓+便便
                                </label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">排泄狀況</span>
                            <input type="text" class="form-control" placeholder="糞便顏色or軟硬or份量大小等狀況記錄"
                                    aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <button type="button" class="btn btn-success ">新增</button>
                    </div>
                    <div class="w-50" id="div_food">
                        <div class="container rounded m-3" style="background-color: orange">
                            <div class="row ">
                                <div class="col-10 my-2">
                                    <h5 class="fw-bolder">6月19日 3點58分</h5>
                                    <p class="ms-5 mb-0">內容物: 便便</p>
                                    <p class="ms-5 mb-0">排泄狀況: 正常</p>
                                </div>
                                <div class="col-2 d-flex flex-column text-center justify-content-around">
                                    <button class="btn btn-primary">編輯</button>
                                    <button class="btn btn-primary">刪除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 尿布更換 end -->
                <!-- 睡眠 start -->
                <div class="tab-pane fade h-100" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                    <div class=" p-3 " style="background-color: #f6dec8;">
                        <div class="form-group">
                            <div class="w-100 d-flex align-items-center mb-3" id="htmlTarget">
                                <label for="" class="col-form-label">▲ 時間：</label>
                                <label for="datetimepicker03" class="form-label mb-0 mx-1">從</label>
                                <div class="input-group " style="width:300px"
                                        data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input type="datetime-local" class="form-control" id="datetimepicker03">
                                </div>
                                <label for="datetimepicker04" class="form-label mb-0 mx-1">到</label>
                                <div class="input-group " style="width:300px"
                                        data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input type="datetime-local" class="form-control" id="datetimepicker04">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">睡眠狀況</span>
                                <input type="text" class="form-control" placeholder="安穩or驚醒or咳嗽等狀況記錄"
                                        aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <button type="button" class="btn btn-success">新增</button>
                        </div>
                    </div>
                    <div class="w-50" id="div_food">
                        <div class="container rounded m-3" style="background-color: lightblue">
                            <div class="row ">
                                <div class="col-10 my-2">
                                    <h5 class="fw-bolder">6月19日 3點58分 ~</h5>
                                    <h5 class="fw-bolder">6月19日 4點58分</h5>
                                    <p class="ms-5 mb-0">睡眠狀況: 安穩</p>
                                </div>
                                <div class="col-2 d-flex flex-column text-center justify-content-around">
                                    <button class="btn btn-primary">編輯</button>
                                    <button class="btn btn-primary">刪除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 睡眠 end -->
                <!-- 備註 start -->
                <div class="tab-pane fade h-100" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
                    <div class=" p-3" style="background-color: #f6dec8;">
                        <div class="form-group">
                            <div class="w-100 d-flex align-items-center mb-3" id="htmlTarget">
                                <label for="" class="col-form-label">▲ 時間：</label>
                                <label for="datetimepicker03" class="form-label mb-0 mx-1">從</label>
                                <div class="input-group " style="width:300px"
                                        data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input type="datetime-local" class="form-control" id="datetimepicker03">
                                </div>
                                <label for="datetimepicker04" class="form-label mb-0 mx-1">到</label>
                                <div class="input-group " style="width:300px"
                                        data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input type="datetime-local" class="form-control" id="datetimepicker04">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">睡眠狀況</span>
                                <input type="text" class="form-control" placeholder="安穩or驚醒or咳嗽等狀況記錄"
                                        aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">狀況說明</span>
                                <textarea class="form-control" aria-label="With textarea"
                                            placeholder="其他特殊狀況記錄"></textarea>
                            </div>
                            <button type="button" class="btn btn-success">新增</button>
                        </div>
                    </div>
                    <div class="w-50" id="div_food">
                        <div class="container rounded m-3" style="background-color: lightgreen">
                            <div class="row ">
                                <div class="col-10 my-2">
                                    <h5 class="fw-bolder">6月19日 3點58分 ~</h5>
                                    <h5 class="fw-bolder">6月19日 4點58分</h5>
                                    <p class="ms-5 mb-0">狀況說明: 發燒</p>
                                </div>
                                <div class="col-2 d-flex flex-column text-center justify-content-around">
                                    <button class="btn btn-primary">編輯</button>
                                    <button class="btn btn-primary">刪除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 備註 end -->
            </div>
        </div>
        </div>
        <!-- tabs end -->
    </div>
</div>
<!-- list and tabs end -->

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    
    <script>
        const useToken = localStorage.getItem("token");
        const headers = {
            'Authorization': `Bearer ${useToken}`,
        };
        let Ebook_user = sessionStorage.getItem("username");
        let IdContactBook = sessionStorage.getItem("IdContactBook");
        // let List_Datas = new Array();

        var vueApp = {
            data() {
                return {
                    username:"",
                    DiaperDetail:[],
                    DietDetail:[],
                    HealthInfos:[],
                    Memo:[],
                    SleepDetail:[],
                }
            },
            mounted: function () {
                let _this = this;
                alert(IdContactBook);
                _this.getDietDetailData(IdContactBook);
                //_this.getDiaperDetailData(IdContactBook);
                //_this.getHealthInfosData(IdContactBook);
                //_this.getMemoData(IdContactBook);
                //_this.getSleepDetailData(IdContactBook);
            },
            methods: {
                //取得資料區
                getDiaperDetailData: function (IdContactBook) {
                    let _this = this;
                    axios.get(`@Utility.SD.localHost_API/api/Ebook/GetDiaperDetail/${IdContactBook}`, { 
                        headers })
                        .then(result => { 
                            // alert(result) 
                        })
                        .catch(err => { alert(err) });
                    
                },
                getDietDetailData: function (IdContactBook) {
                    let _this = this;
                    axios.get(`@Utility.SD.localHost_API/api/Ebook/GetDietDetail/${IdContactBook}`, {
                        headers })
                        .then(result => {
                            // alert(result.data)
                            result.data.forEach(function (item, index) {
                                _this.addContext("飲食", item);
                            })
                        }).catch(err => { alert(err) });
                },
                getHealthInfosData: function (IdContactBook) {
                    let _this = this;
                    axios.get(`@Utility.SD.localHost_API/api/Ebook/GetHealthInfos/${IdContactBook}`, { 
                        headers })
                        .then(result => { alert(result) })
                        .catch(err => { alert(err) });
                },
                getMemoData: function (IdContactBook) {
                    let _this = this;
                    axios.get(`@Utility.SD.localHost_API/api/Ebook/GetMemo/${IdContactBook}`, { 
                        headers })
                        .then(result => { alert(result) })
                        .catch(err => { alert(err) });
                },
                getSleepDetailData: function (IdContactBook) {
                    let _this = this;
                    axios.get(`@Utility.SD.localHost_API/api/Ebook/GetSleepDetail/${IdContactBook}`, { 
                        headers })
                        .then(result => { alert(result) })
                        .catch(err => { alert(err) });
                },
                //加入資訊區塊
                addContext: function (detail_type, detail) {
                    let context1 = document.getElementById('context1');
                    var div = document.createElement('div');
                    var contextID = `context${detail_type}_${detail}`;
                    var detail_time = new Date(detail.recodeTime);
                    div.id = contextID;
                    div.innerHTML = `${detail_time.getHours()}點${detail_time.getMinutes()}分 : ${detail_type} \n ${detail.type}`;
                    div.className = 'w-100 MSG_title';
                    // div.style.position = 'absolute';
                    // div.style.backgroundColor = 'pink';
                    // div.style.fontSize = '16px';
                    context1.appendChild(div);
                },
                //新增資料區
                createHealthInfos: function () {
                    axios.post(url, request, {headers
                    }).then(result=>{

                    }).catch(err => {alert(err) });
                }

            }
        }

        var app_Ebook_record = Vue.createApp(vueApp).mount('#app_Ebook_record');



        
    </script>
}