@model BabyCiao.Models.DTO.SecondHandDTO

@{
    ViewData["Title"] = "編輯二手商品";
}

<h1>編輯</h1>

<h4>二手商品</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccountUserAccount" class="control-label"></label>
                <input asp-for="AccountUserAccount" class="form-control" />
                <span asp-validation-for="AccountUserAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuppliesName" class="control-label"></label>
                <input asp-for="SuppliesName" class="form-control" />
                <span asp-validation-for="SuppliesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuppliesDescription" class="control-label"></label>
                <input asp-for="SuppliesDescription" class="form-control" />
                <span asp-validation-for="SuppliesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTimeString" class="control-label"></label>
                <input asp-for="ModifiedTimeString" class="form-control" />
                <span asp-validation-for="ModifiedTimeString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
          


            <label asp-for="Display" class="control-label"></label>
            <div class="form-check">
                <label><input type="checkbox" asp-for="Display" />顯示</label>
                <br>
            </div>

            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-secondary mb-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="SecondHand" asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-rotate-left"></i>返回列表</a>
</div>

