@model BabyCiao.Models.DTO.NannyRequirementDTO



<h1>審核保母資格</h1>

<h4>申請資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RequirementDate" class="control-label">申請時間</label>
                <input asp-for="RequirementDate" class="form-control" />
                <span asp-validation-for="RequirementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NannyAccountUserAccount" class="control-label">帳號</label>
                <input asp-for="NannyAccountUserAccount" class="form-control" asp-items="ViewBag.NannyAccountUserAccount"></input>
                <span asp-validation-for="NannyAccountUserAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photoA" class="control-label">良民證</label>

                <input type="file" asp-for="photoA" class="control-label" style="display:none;"></input>
                <img src="@Url.Content("~/img/保母證照/" + Model.photoA)" width="400" />
                <span asp-validation-for="photoA" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="photoB" class="control-label">保母證</label>
                <input type="file" asp-for="photoB" class="control-label" style="display:none;"></input>
                <img src="@Url.Content("~/img/保母證照/" + Model.photoB)" width="400" />
                <span asp-validation-for="photoB" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="photoC" class="control-label">身分證</label>

                <input type="file" asp-for="photoC" class="control-label" style="display:none;"></input>
                <img src="@Url.Content("~/img/保母證照/" + Model.photoC)" width="400" />
                <span asp-validation-for="photoC" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressesOfAgencies" class="control-label">申請地址</label>
                <input asp-for="AddressesOfAgencies" class="form-control" />
                <span asp-validation-for="AddressesOfAgencies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidPeriodsOfCertificates" class="control-label">證照有效期限</label>
                <input asp-for="ValidPeriodsOfCertificates" class="form-control" />
                <span asp-validation-for="ValidPeriodsOfCertificates" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;>
                <label asp-for="ChildCareCertificate" class="control-label" style="display:none;"></label>
                <input asp-for="ChildCareCertificate" class="form-control" input type=" hidden" />
                <span asp-validation-for="ChildCareCertificate" class="text-danger" style="display:none"></span>
            </div>
            <div class="form-group" style="display:none;>
                <label asp-for="PoliceCriminalRecordCertificate" class="control-label" style="display:none;"></label>
                <input asp-for="PoliceCriminalRecordCertificate" class="form-control" type=" hidden" />
                <span asp-validation-for="PoliceCriminalRecordCertificate" class="text-danger" style="display:none;"></span>
            </div>
            <div class="form-group" style="display:none; >
                <label asp-for="NationalIdentificationCard" class="control-label" style="display:none;"></label>
                <input asp-for="NationalIdentificationCard" class="form-control" type="hidden" />
                <span asp-validation-for="NationalIdentificationCard" class="text-danger" style="display:none;"></span>
            </div>
            <td>
                <div class="form-group">
                    <select class="form-control" asp-for="Statement">
                        <option value="1" >成功</option>
                        <option value="2" >未讀</option>
                        <option value="3" >退件</option>
                    </select>
                </div>
            </td>

            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到列表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
