@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col-6">
        <h4>內部公告</h4>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action">A link item</a>
        </div>
    </div>
    <div class="col-6">
        <h4>客服專區</h4>
        <div>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action">
                    待處理信件
                </button>
                <button type="button" class="list-group-item list-group-item-action">線上客服人數</button>
                <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
            </div>
        </div>
    </div>
</div>
