@model BabyCiao.Models.DTO.OnlineCompetitionsDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>投票活動管理</h1>

<h4>編輯活動資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label">活動名稱</label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUserAccount" class="control-label">修改者</label>
                <input asp-for="AccountUserAccount" class="form-control" asp-items="ViewBag.AccountUserAccount" readonly></input>
                <span asp-validation-for="AccountUserAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">活動開始時間</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">活動結束時間</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">活動介紹</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTime" class="control-label">最後更新時間</label>
                <input asp-for="ModifiedTime" class="form-control" />
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statement" class="control-label">活動進度</label>
                <input asp-for="Statement" class="form-control" />
                <span asp-validation-for="Statement" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="PhotoName" class="control-label">活動照片</label>
                <input asp-for="PhotoName" class="form-control" />
                <span asp-validation-for="PhotoName" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到活動列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
