@section Styles {
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>常見問題</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <link href="~/style/tit/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/style/tit/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/style/tit/assets/css/style.css" rel="stylesheet" />
    <style>
        .main_1 {
            position: relative;
            width: 100%;
            height: 400px;
            overflow: hidden;
        }

        .image-container_1 {
            position: relative;
            width: 100%;
            height: 400px;
        }

        .module-image_1 {
            width: 100%;
            height: 400px;
            object-fit: cover;
            opacity: 0.5; /* 使圖片刷淡 */
        }

        .title {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            color: white;
            font-size: 3em;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
        }
    </style>
}
<div class="main_1">
    <section class="module_1">
        <div class="image-container_1">
            <img src="~/style/img/fqa.jpg" class="module-image_1" />
            <h1 class="title">常見問題 </br>&amp; 歡迎聯絡我們</h1>
        </div>
    </section>
</div>
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h4 class="font-alt mb-0">常見問題</h4>
                <hr class="divider-w mt-10 mb-20">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">請問保母服務的地區有哪些？</a></h4>
                        </div>
                        <div class="panel-collapse collapse in" id="support1">
                            <div class="panel-body">
                                我們專業的保母在全台各地都有提供服務。
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">請問我立即需要保母怎麼辦？</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="support2">
                            <div class="panel-body">
                                如果您的家人需要立即照顧援助，貝比巧育可以為您提供優秀的臨時保母，為您提供保障和安心。貝比巧育擁有一個由專業保母團隊，我們不斷物色和嚴格審查加入我們的潛在專業保母。
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">聘請保母需要注意哪些事項？</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="support3">
                            <div class="panel-body">
                                僱用專業保姆時需要考慮很多事情。您在尋找什麼職位？您想要全職保母還是兼職保母？您在找住家保母還是住外保母？您還應該考慮您希望保姆擁有甚麼樣的品質和特徵。你希望他們有什麼經驗？哪種性格最適合您和家人的個性？
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">如何找到我所在地區的好保母？</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="support4">
                            <div class="panel-body">
                                貝比巧育為您先一步進行廣泛的訪談、審查、背景調查和性格調查——如此一來您就可以減少篩選的時間。我們了解尋找合適的職業保姆需要投入大量時間和精力，因此我們為您確保所有專業保姆在與您的家人匹配之前都完全合格。
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support5">如何聘請一位好的保母？</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="support5">
                            <div class="panel-body">
                                每個人的看法都不同。家庭的需求差異很大。所以，一個家庭的好保母不一定對另一個家庭有好處。

                                經驗豐富的職業保母有至少 3 年的家庭工作經驗或在正規日託或學校環境中工作過。專業保母接受過幼兒教育或訓練。

                                他們是前瞻性的思想家。他們幾乎不需要指導或幫助。他們為孩子們計劃了活動。專業保母與家長進行有效溝通。他們可靠、準時，能夠幫助家庭順利運作。每個家庭都有獨特的需求，因此向我們傳達您家人眼中的「好」保姆是什麼樣子很重要。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Header Start -->
<div class="main_1">
    <section class="module_1">
        <div class="image-container_1">
            <img src="~/style/img/fqa2.jpg" class="module-image_1" />
            <h1 class="title">聯絡我們</h1>
        </div>
</div>
    </div>
    </section>
<!-- Header End -->
<!-- Contact Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <div class="contact p-5">
            <div class="row g-4">
                <div class="col-xl-5">
                    <h1 class="mb-4">請填寫表單</h1>
                    <form>
                        <div class="row gx-4 gy-3">
                            <div class="col-xl-6">
                                <input type="text" class="form-control bg-white border-0 py-3 px-4" placeholder="名字">
                            </div>
                            <div class="col-xl-6">
                                <input type="email" class="form-control bg-white border-0 py-3 px-4" placeholder="E-mail">
                            </div>
                            <div class="col-xl-6">
                                <input type="text" class="form-control bg-white border-0 py-3 px-4" placeholder="連絡電話">
                            </div>
                            <div class="col-xl-6">
                                <input type="text" class="form-control bg-white border-0 py-3 px-4" placeholder="主題">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0 py-3 px-4" rows="7" cols="10" placeholder="內容"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn-hover-bg btn btn-primary w-100 py-3 px-5" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-7">
                    <div>
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <div class="bg-white p-4">
                                    <i class="fas fa-map-marker-alt fa-2x text-primary mb-2"></i>
                                    <h4>地址</h4>
                                    <p class="mb-0">高雄市新興區</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-white p-4">
                                    <i class="fas fa-envelope fa-2x text-primary mb-2"></i>
                                    <h4>E-mail</h4>
                                    <p class="mb-0">info@example.com</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-white p-4">
                                    <i class="fa fa-phone fa-2x text-primary mb-2"></i>
                                    <h4>電話</h4>
                                    <p class="mb-0">(+886) 7 123 1123</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <iframe class="w-100" style="height: 412px; margin-bottom: -6px;" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d674.7425724581295!2d120.29302336746046!3d22.627996272774645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1717867806284!5m2!1szh-TW!2stw"
                                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/style/tit/assets/lib/jquery/dist/jquery.js"></script>
    <link href="~/style/tit/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/style/en/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/style/tit/assets/lib/wow/dist/wow.js"></script>
    <script src="~/js/announcementmain.js"></script>
}