
<div id="app" class="container">
    <div class="row">
        <div class=" mb-3 ">
            <label class="form-label" for="">帳號</label>
            <input class="form-control" type="text" @@keyup="enable" v-model="username">
        </div>
        <div class=" mb-3 ">
            <label class="form-label" for="">密碼</label>
            <input class="form-control" type="password" @@keyup="enable" v-model="password">
        </div>
        <div class=" mb-3">
            <button class="btn btn-primary" v-bind:disabled="disableCheck" @@click="submit">登入</button>
        </div>
    </div>

</div>

@section Scripts {
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var vueApp = {
            data() {
                return {
                    username: "",
                    password: "",
                    disableCheck: true,
                    baseAddress_API: "@Utility.SD.localHost_API",
                    baseAddress_client: "@Utility.SD.localHost_Client",
                }
            },
            mounted: function () {
                let _this = this;
            },
            methods: {
                enable: function () {
                    this.disableCheck = this.password.length <= 0 || this.username.length <= 0

                },
                submit: function () {
                    // alert("submit");
                    let _this = this;
                    var request = {};
                    request.name = _this.username;
                    request.password = _this.password;

                    axios.post(`${_this.baseAddress_API}/api/Andy_JWT_Login`, request).then(response => {
                        const token = response.data;
                        const data = { Token: token };
                        localStorage.setItem("token", data.Token);

                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "登入成功",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(s => {
                            const useToken = localStorage.getItem("token");
                            const headers = {
                                'Authorization': `Bearer ${useToken}`,
                                
                            };

                            axios.get(`${_this.baseAddress_API}/api/Andy_JWT_Login`, {
                                headers
                            }).then(result => {
                                // alert(result.data)
                                $('#username').text(`${result.data} ,你好!`);//實驗
                            }).catch(err => {
                                alert(err);
                            })
                        });

                    }).catch(err => {
                        alert(err);
                    })

                    
                },
                
                
            }
        };
        var app01 = Vue.createApp(vueApp).mount("#app");
    </script>
}
