<!-- 輪播 -->


<!-- 文章區 -->
<div id="vueApp">
    <div class="container ">
        <div class="d-flex justify-content-between mb-3">
            <div class="border border-1 rounded rounded-2">
                <img src="~/images/育兒.jpg" />
                <h3>育兒大小事</h3>
                <p>嬰幼兒疾病、生長曲線、教養、親子關係</p>
            </div>
            <div class="border border-1 rounded rounded-2">
                <img src="~/images/好物分享.jpg" />
                <h3>好物分享</h3>
                <p>育兒小物、居家布置、穿搭</p>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="border border-1 rounded rounded-2">
                <img src="~/images/生活交流.jpg" />
                <h3>生活交流</h3>
                <p>生活點滴、趣味分享</p>
            </div>
            <div class="border border-1 rounded rounded-2">
                <img src="~/images/親子旅遊.jpg" />
                <h3>親子旅遊</h3>
                <p>戶外活動、親子旅遊、私房景點、美食</p>
            </div>
        </div>
    </div>

</div>

<!-- 影片插入 -->


<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
        integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var vueApp={
        data(){
            return {
                aaa:"測試",
            }
        },
    }
    var app = Vue.createApp(vueApp).mount("#vueApp");
</script>
