

<div class="col-md-5 position-relative">
    <div class="w-100 border d-flex align-items-center" style="height:90%">
        
        <img src="~/images/2405120211035901.png" class=" rounded mx-auto d-block img-fluid " id="Picture" />
    </div>
    
    <div class="input-group mb-3">
        @* <input asp-for="Picture" type="file" class="form-control"> *@
    </div>
</div>

