<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BabyCiao</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BabyCiao.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BabyCiao</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* 會員管理 *@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">會員管理</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">會員權限</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">保母資格</a></li>
                            </ul>
                        </li>
                        @* 委託單管理 *@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">委託單管理</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="NannyResumes" asp-action="Index">保母委託單</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="BabyResumes" asp-action="Index">家長委託單</a></li>
                            </ul>
                        </li>
                        @* 公告管理 *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Announcements" asp-action="Index">公告管理</a>
                        </li>
                        @* 社群管理 *@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">社群管理</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="SecondHandSupplies" asp-action="Index">二手商品管理</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="GroupBuy" asp-action="Index">團購管理</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="OnlineCompetitions" asp-action="Index">投票活動</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Platforms" asp-action="Index">論壇文章管理</a></li>
                            </ul>
                        </li>
                        @* 權限管理 *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">權限群組管理</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial_self" />
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center p-4">
                <a class="d-inline-block" href="pages-profile.html"><img class="avatar shadow-0 img-fluid rounded-circle" src="" alt="..."></a>
                <div class="ms-3 title">
                    <h1 class="h5 mb-1">貝比巧遇</h1>
                    <p class="text-sm text-gray-700 mb-0 lh-1">網頁設計師</p>
                </div>
            </div><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">後臺管理</span>
            <ul class="list-unstyled">
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="index.html">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#real-estate-1"> </use>
                        </svg><span> 後臺公告</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#tablesDropdown" data-bs-toggle="collapse">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#portfolio-grid-1"> </use>
                        </svg><span>使用者管理 </span>
                    </a>
                    <ul class="collapse list-unstyled " id="tablesDropdown">
                        <li><a class="sidebar-link" href="tables.html"> 帳號管理</a></li>
                        <li><a class="sidebar-link" href="tables-datatable.html">權限管理</a></li>
                        <li><a class="sidebar-link" href="tables-datatable.html">保母審核</a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#chartsDropdown" data-bs-toggle="collapse">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#sales-up-1"> </use>
                        </svg><span>委託單管理 </span>
                    </a>
                    <ul class="collapse list-unstyled " id="chartsDropdown">
                        <li><a class="sidebar-link" href="/BabyResumes/Index">家長委託單</a></li>
                        <li><a class="sidebar-link" href="/NannyResumes/Index">保母委託單</a></li>
                        <li><a class="sidebar-link" href="charts-gauge-sparkline.html">數據分析</a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#formsDropdown" data-bs-toggle="collapse">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#survey-1"> </use>
                        </svg><span>二手商品與團購管理 </span>
                    </a>
                    <ul class="collapse list-unstyled " id="formsDropdown">
                        <li><a class="sidebar-link" href="forms.html">二手商品管理</a></li>
                        <li><a class="sidebar-link" href="forms-advanced.html">團購管理</a></li>
                        <li><a class="sidebar-link" href="forms-autocomplete.html">論壇管理</a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#componentsDropdown" data-bs-toggle="collapse">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#stack-1"> </use>
                        </svg><span>活動管理 </span>
                    </a>
                    <ul class="collapse list-unstyled " id="componentsDropdown">
                        <li><a class="sidebar-link" href="components-cards.html">活動事項</a></li>
                        <li><a class="sidebar-link" href="components-calendar.html">活動照片</a></li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#pagesDropdown" data-bs-toggle="collapse">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#multiple-windows-1"> </use>
                        </svg><span>公告管理 </span>
                    </a>
                    <ul class="collapse list-unstyled " id="pagesDropdown">
                        <li><a class="sidebar-link" href="pages-contacts.html">主頁公告事項</a></li>
                        <li><a class="sidebar-link" href="pages-invoice.html">最新資訊</a></li>

                    </ul>
                </li>
            </ul><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">附加功能</span>
            <ul class="list-unstyled">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#imac-screen-1"> </use>
                        </svg><span>範例 </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#chart-1"></use>
                        </svg><span>範例 </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#quality-1"> </use>
                        </svg><span>範例 </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#">
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                            <use xlink:href="#security-shield-1"> </use>
                        </svg><span>範例 </span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="page-content">
            <!-- Page Header-->
            <div class="bg-dash-dark-2 py-4">
                <div class="container-fluid">
                </div>
            </div>
            @RenderBody()


            <!-- Page Footer-->
            <footer class="position-absolute bottom-0 bg-dash-dark-2 text-white text-center py-3 w-100 text-xs" id="footer">
                <div class="container-fluid text-center">
                    <p class="mb-0 text-dash-gray">&copy; 貝比巧遇 <a target="_blank" href=""></a></p>
                </div>
            </footer>
        </div>
    </div>

    <!-- JavaScript files-->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/just-validate/js/just-validate.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/js/js-cookie.js"> </script>
    <script src="~/js/demo.js"> </script>
    <script src="~/js/charts-home.js"></script>
    <!-- Notifications  -->
    <!-- Toast-->

    <script src="~/js/home-premium.js">  </script>
    <!-- Main File-->
    <script src="~/js/front.js"></script>
    <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function (e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('~/icons/orion-svg-sprite.svg');






    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @RenderSection("scripts", required: false)
</body>
</html>
